{% import "macros.jinja2" as macros %}
{% set name = cat.name %}
<html>
<link rel="stylesheet" type="text/css" href="/css/category.css">
<title>{{ cat.name }}</title>
</html>
<body>
<div class="cat_wrapper">
    <div class="box cat_url">
        <a id="siteurl" href="/">redsys.pw</a>/<a id="path", href="{{ name | urlencode }}.html">{{ name }}</a> <!-- PATH TO FILE, IF JS -->
    </div>
    <div class="box blank"></div>
    <div class="box items">
        <!-- For every child, we'll simply need a link to the next category. Notably, categories come before posts. -->
        {% for c in childcats %}
            <div class="childcat">
                <div class="box cat_child_title">
                    <a class="cat_child_url" href="{{ name | urlencode }}/{{ c.name | urlencode }}.html">/{{ c.name }}</a>
                </div>
            </div>
        {% endfor %}
        {% for p in childposts %} 
            <div class="post_wrapper">
            {{macros::post_header(post=p, parent=name)}}
            </div>
        {% endfor %}
    </div>
</div>
</body>
<script type="text/javascript">
function update_path(){
    let path = window.location.pathname.split('/').slice(1, -1);
    var sitenode = document.getElementById('siteurl');
    for (var i = path.length; i > 0; i--){
        let a = document.createElement('a');
        a.href = '/' + path.slice(0, i).join('/') + '.html';
		console.log(i, path.slice(0,i));
        a.text = decodeURI('/' + path[i-1]);
        sitenode.parentNode.insertBefore(a, sitenode.nextSibling);
    }
}
update_path();
</script>
</html>