{%import "macros.jinja2" as macros %}
{% set name = joindir(d=cat.dirname, n=cat.name) %}

<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{basepath}}/css/category.css">
<title>{{ cat.name }}</title>
</html>
<body>
<div class="cat_wrapper">
    <div class="box cat_url">
        <a id="siteurl" href="{{basepath}}/">redsys.pw</a><a id="path", href="{{basepath}}/{{ name | urlencode }}.html">/{{ name }}</a> <!-- PATH TO FILE, IF JS -->
    </div>
    <div class="box blank"></div>
    <div class="box items">
        <!-- For every child, we'll simply need a link to the next category. Notably, categories come before posts. -->
        {% for c in childcats %}
            <div class="childcat">
                <div class="box cat_child_title">
                    <a class="cat_child_url" href="{{basepath}}/{{ joindir(d=c.dirname, n=c.name) | urlencode }}.html">/{{ c.name }}</a>
                </div>
            </div>
        {% endfor %}
        {% for post in childposts %} 
            <div class="post_wrapper">
                {{ macros::post_header(post=post) }}
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>