{%import "macros.jinja2" as macros %}

<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{basepath}}/css/index.css">
<title>index.html</title>
</html>
<body>
<div class="cat_wrapper">
    <div class="box cat_url">
        <a id="siteurl" href="{{basepath}}/">redsys.pw</a>
    </div>
    <div class="box blank"></div>
    <div class="box items">
        <!-- For every child, we'll simply need a link to the next category. Notably, categories come before posts. -->
        {% for c in childcats %}
            <div class="childcat">
                <div class="box cat_child_title">
                    <a class="cat_child_url" href="{{basepath}}/{{ joindir(d=c.dirname, n=c.name) | urlencode }}.html">/{{ c.name }}</a>
                </div>
            </div>
        {% endfor %}
        {% for post in childposts %} 
            <div class="post_wrapper">
                {{ macros::post_header(post=post) }}
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>