{% macro post_header(post, basepath) -%} 
    <div class="box title">
        <div class="left"><a href="{{basepath}}/{{ joindir(d=post.dirname, n=post.name) | urlencode }}.html">{{ post.title }}</a></div>
        {%- if post.year -%}
        <div class="right">[{{ post.year }}]</div>
        {%- endif %}
    </div>
{%- endmacro %}