{% macro post_header(post) -%} 
    <div class="box title">
        <div class="left"><a href="/{{ joindir(d=post.dirname, n=post.name) | urlencode }}.html">{{ post.name }}</a></div>
        {%- if post.year -%}
        <div class="right">[{{ post.year }}]</div>
        {%- endif %}
    </div>
        <div class="box image"><img src="{{ post.image }}"></div>
        <div class="box tags">
            <ul class="post-sidebar">
            {% for parent in post.parent_names %}
                <li ><a class="parent_url" href="/{{ parent | urlencode }}.html"><span class="uparrow">➤</span> /{{ parent }}</a></li>
            {% endfor %}
            {% for child in post.children %}
                <li ><a class="child_url" href="/{{ child | urlencode }}.html">/{{ child }}</a></li>
            {% endfor %}
        </ul>
    </div>
{%- endmacro %}