<html>
<link rel="stylesheet" type="text/css" href="css/game.css">
</html>

<body>
	<div class="wrapper">
		<div class="box url">
			<a href="redsys.pw">redsys.pw</a>/<a href="redsys.pw/theme">theme</a>/<a href="redsys.pw/theme/mecha">mecha</a>
		</div>
		<div class="box blank"></div>
		<div class="box title"><div class="left">Omega Boost</div><div class="right">[1993]</div></div>
		<div class="box image"><img src="https://gamefaqs.akamaized.net/box/8/6/4/5864_front.jpg"/></div>
		<div class="box tags">
			<ul style="list-style-type: none;">
				<li>/misc_studio</li>
				<li>/shoji_kawamori</li>
				<li>/long/tag/for/no/reason/as/I/can/see/it</li>
				<li>/psx</li>
				<li>/cyber</li>
				<li>/mecha</li> 
			</ul>
		</div>
		<div class="box body">
			<p>Lorem ipsum dolor sit amet, magna iusto senserit vel in, ignota eirmod officiis cu quo, posidonium necessitatibus no eum. Cu mea diceret mediocrem dissentias, sed partem recusabo invenire ut. Ex adipisci tacimates pri. Vide nemore molestie ad quo. Mea quidam regione antiopam te. Eius iracundia eam ad, putent nominavi ex eos.
			</p>
			<p>Lorem ipsum dolor sit amet, magna iusto senserit vel in, ignota eirmod officiis cu quo, posidonium necessitatibus no eum. Cu mea diceret mediocrem dissentias, sed partem recusabo invenire ut. Ex adipisci tacimates pri. Vide nemore molestie ad quo. Mea quidam regione antiopam te. Eius iracundia eam ad, putent nominavi ex eos.
			</p>
			<p>Lorem ipsum dolor sit amet, magna iusto senserit vel in, ignota eirmod officiis cu quo, posidonium necessitatibus no eum. Cu mea diceret mediocrem dissentias, sed partem recusabo invenire ut. Ex adipisci tacimates pri. Vide nemore molestie ad quo. Mea quidam regione antiopam te. Eius iracundia eam ad, putent nominavi ex eos.
			</p>
			<p>Lorem ipsum dolor sit amet, magna iusto senserit vel in, ignota eirmod officiis cu quo, posidonium necessitatibus no eum. Cu mea diceret mediocrem dissentias, sed partem recusabo invenire ut. Ex adipisci tacimates pri. Vide nemore molestie ad quo. Mea quidam regione antiopam te. Eius iracundia eam ad, putent nominavi ex eos.
			</p>
		</div>
		<div class="box link">
			<div class="link url">
			<a href="url.org/#64zx79sYfq2TD82vTexI19DKua4Ns8YXMHBYWkrsCMpUZRaj1QLAUjKxIApEE1cQGt8wviSh8pH58N623HviJiFq7T4oFlOZCMov">url.org/#64zx79sYfq2TD82vTexI19DKua4Ns8YXMHBYWkrsCMpUZRaj1QLAUjKxIApEE1cQGt8wviSh8pH58N623HviJiFq7T4oFlOZCMov</a>
			</div>
			<div class="link blank"></div>
		</div>
	</div>
</body>
